//Extend

%dropdown-item {
    color: $rojo;
    background-color: $azul;
    font-family: $serif;
}
%main {
    background-image: url(https://res.cloudinary.com/dag97qsi8/image/upload/v1661992719/ProyectoFinal/BackgroundMain_dgwrhp.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
