//Extend

%dropdown-item {
    color: $rojo;
    background-color: $azul;
    font-family: $serif;
}
%main {
    background-image: url(../images/BackgroundMain.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
